# SPDX-License-Identifier: GPL-2.0

config I3C_TARGET_FUNC_TTY
	tristate "I3C target tty driver"
	depends on I3C_TARGET
	help
	  I3C Target TTY Function Driver.

	  General TTY over I3C target controller function drivers.
