# SPDX-License-Identifier: GPL-2.0

menuconfig I3C
	tristate "I3C support"
	select I2C
	help
	  I3C is a serial protocol standardized by the MIPI alliance.

	  It's supposed to be backward compatible with I2C while providing
	  support for high speed transfers and native interrupt support
	  without the need for extra pins.

	  The I3C protocol also standardizes the slave device types and is
	  mainly designed to communicate with sensors.

	  If you want I3C support, you should say Y here and also to the
	  specific driver for your bus adapter(s) below.

	  This I3C support can also be built as a module.  If so, the module
	  will be called i3c.

if I3C

config I3CDEV
	tristate "I3C device interface"
	depends on I3C
	help
	  Say Y here to use i3c-* device files, usually found in the /dev
	  directory on your system.  They make it possible to have user-space
	  programs use the I3C devices.

	  This support is also available as a module.  If so, the module
	  will be called i3cdev.

	  Note that this application programming interface is EXPERIMENTAL
	  and hence SUBJECT TO CHANGE WITHOUT NOTICE while it stabilizes.

source "drivers/i3c/master/Kconfig"
endif # I3C

config I3C_TARGET
	bool "I3C Target Support"
	help
	  Support I3C Target Mode.

	  Enable this configuration option to support configurable I3C target.
	  This should be enabled if the platform has a I3C controller that can
	  operate in target mode.

	  Enabling this option will build the I3C target library, which includes
	  target controller library and target function library.

	  If in doubt, say "N" to disable target support.

config I3C_TARGET_CONFIGFS
	bool "I3C Target Configfs Support"
	depends on I3C_TARGET
	select CONFIGFS_FS
	help
	  Configfs entry for target function and controller.

	  This will enable the configfs entry that can be used to configure
	  the target function and used to bind the function with a target
	  controller.
