# SPDX-License-Identifier: GPL-2.0

menu "Renesas UCIe Support"
	depends on PCI

config UCIE_RCAR_HOST
	tristate "Renesas R-Car UCIe Host mode"
	depends on ARCH_RENESAS || COMPILE_TEST
	depends on PCI_MSI
	help
	  Say Y here if you want UCIe controller support on R-Car Gen5 SoCs.
	  This controller can work either as EP or RC. In order to enable
          host-specific features UCIE_RCAR_HOST must be selected and in
          order to enable device-specific features UCIE_RCAR_EP must be
          selected.

config UCIE_RCAR_EP
	tristate "Renesas R-Car UCIe Endpoint mode"
	depends on ARCH_RENESAS || COMPILE_TEST
	depends on PCI_MSI
	help
	  Say Y here if you want UCIe controller support on R-Car Gen5 SoCs.
	  This controller can work either as EP or RC. In order to enable
          host-specific features UCIE_RCAR_HOST must be selected and in
          order to enable device-specific features UCIE_RCAR_EP must be
          selected.

endmenu
