menu "Android"

if ANDROID

config ASHMEM
	bool "Enable the Anonymous Shared Memory Subsystem"
	default n
	depends on SHMEM
	---help---
	  The ashmem subsystem is a new shared memory allocator, similar to
	  POSIX SHM but with different behavior and sporting a simpler
	  file-based API.

	  It is, in theory, a good memory allocator for low-memory devices,
	  because it can discard shared memory units when under memory pressure.

config ANDROID_VSOC
	tristate "Android Virtual SoC support"
	default n
	depends on PCI_MSI
	---help---
	  This option adds support for the Virtual SoC driver needed to boot
	  a 'cuttlefish' Android image inside QEmu. The driver interacts with
	  a QEmu ivshmem device. If built as a module, it will be called vsoc.

source "drivers/staging/android/ion/Kconfig"

source "drivers/staging/android/fiq_debugger/Kconfig"

config BOOTLOADER_CONTROL
	tristate "Bootloader Control Block module"
	default n
	help
	  This driver installs a reboot hook, such that if reboot() is invoked
	  with a string argument NNN, "bootonce-NNN" is copied to the command
	  field in the Bootloader Control Block on the /misc partition, to be
	  read by the bootloader. If the string matches one of the boot labels
	  defined in its configuration, it will boot once into that label. The
	  device and partition number are specified on the kernel command line.

endif # if ANDROID

endmenu
