config DRM_XEN
	bool "DRM Support for Xen guest OS"
	depends on XEN
	help
	  Choose this option if you want to enable DRM support
	  for Xen.

choice
	prompt "Xen DRM drivers selection"
	depends on DRM_XEN

config DRM_XEN_FRONTEND
	tristate "Para-virtualized frontend driver for Xen guest OS"
	depends on DRM_XEN
	depends on DRM
	select DRM_KMS_HELPER
	select VIDEOMODE_HELPERS
	select XEN_XENBUS_FRONTEND
	help
	  Choose this option if you want to enable a para-virtualized
	  frontend DRM/KMS driver for Xen guest OSes.

config DRM_XEN_ZCOPY
	tristate "Zero copy helper DRM driver for Xen"
	depends on DRM_XEN
	depends on DRM
	select DRM_KMS_HELPER
	help
	  Choose this option if you want to enable a zero copy
	  helper DRM driver for Xen. This is implemented via mapping
	  of foreign display buffer pages into current domain and
	  exporting a dumb via PRIME interface. This allows
	  driver domains to use buffers of unpriveledged guests without
	  additional memory copying.

config DRM_XEN_ZCOPY_CMA
	bool "Use CMA to allocate buffers"
	depends on DRM_XEN_ZCOPY
	help
	  Use CMA to allocate display buffers.

endchoice
